.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 40%;
    min-height: 590px;
    margin-top: 1%;
    padding-top: 2%;
}

.w-input {
    width: 70%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.signHead{
    margin-top: 2%;
    margin-bottom: 2%;
}